@media (max-width: 768px){
    header{
        flex-direction: column;
    }
    header h1{
        align-self: flex-start;
    }
    header div{
        width: 100%;
        margin-top: 5%;
    }
    main section{
        width: 40%;
    }
    main section h3{
        margin-top: 5%;
    }
}